<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dobby-as-a-Service</title>
</head>

<body>
    <h1>{{content}}</h1>

    <table>
        <tr>
          <th>Path</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>/age</td>
          <td>Displays Dobbys age</td>
        </tr>
        <tr>
          <td>/breed</td>
          <td>Displays Dobbys breed</td>
        </tr>
        <tr>
          <td>/where</td>
          <td>Displays where Dobby is</td>
        </tr>
        <tr>
          <td>/nicknames</td>
          <td>Dobbys nicknames</td>
        </tr>
      </table>
      </table>
</body>

</html>